<div class="p-2 mb-4 row bg-primary">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
        <a class="btn btn-primary border border-dark" href="/">All Users</a>
        <a class="btn btn-primary border border-dark" href="/logout">LogOut</a>
    </div>

</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 text-center">

        <h2>@ViewBag.LogedInUser.FirstName @ViewBag.LogedInUser.LastName</h2>
        <p class=""><strong>Email</strong> : @ViewBag.LogedInUser.Email</p>
        <p><strong>Description</strong> : @ViewBag.LogedInUser.Description</p>

    </div>
    <div class="col-sm-3"></div>

</div>

<div class="mt-5 row h-100 ">

    <div class="col-sm-3"></div>

    <div class="col-sm-6">

        <h3>Your friends:</h3>


        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var miqte in ViewBag.miqte)
                {
                    <div class="mb-2">
                        @if (@miqte.SenderId == ViewBag.LogedInUser.UserId)
                        {
                            <a href="/users/@miqte.ReciverId">@miqte.Reciver.FirstName</a>
                        }
                        else
                        {

                            <a href="/users/@miqte.SenderId">@miqte.Sender.FirstName</a>

                        }
                        <a href="/RemoveF/@miqte.RequestId" class="btn btn-danger">Remove</a>
                    </div>
                }
            </tbody>
        </table>




    </div>

    <div class="col-sm-3"></div>


</div>
<div class="row">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <h3>Invitations:</h3>

        <p class="italic text-info">The following people asked you to be their friend:</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var requests in ViewBag.requests)
                {
                    <tr>
                        <td><a href="/users/@requests.SenderId">@requests.Sender.FirstName @requests.Sender.LastName</a>
                        </td>
                        <td><a href="/AcceptR/@requests.RequestId" class=" btn btn-primary">Accept Invite</a>
                            <a href="/DeclineR/@requests.RequestId" class="btn btn-danger">Ignore</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>

</div>
